body {
  font-family: Arial, sans-serif;
  background-color: #aa6767;
  color: #e0dede;
  margin-left: 100px ;
  margin-right: 100px ;
  padding: 0;
}

.container {
  max-width: auto;
  padding: 20px;
  text-align: left;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.top-games, .recent-games {
  margin-bottom: 20px;
}

.game-item {
  margin-bottom: 5px;
}